@import url("https://fonts.googleapis.com/css?family=Pacifico");

#font {
  color: white;
  font-family:'Pacifico', cursive;
  font-size: 25px;
}

#background {
  background-color: #683222;
}

#color {
  background-color: #fbdbe6;
}

#height {
  height: 200px;
}

#margin {
  margin-bottom: 0;
}

.flashy {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.footer {
  background-color: #683222;
}

a {
  color: red;
}

#footer {
  color: red;
}

.best {
  border-radius: 100%;
}

.border {
  border-radius: 50%;
  width: 80px;
  margin-left: 15px;
  margin-top: 35px;
}

.height {
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}  

